extend ../layout

block config
  - $.title = "tarai-music"
  - $.path  = "/tarai/"
  - $.use("//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js")
  - $.use("timbre.js")
  - $.use("subcollider.js")

block content
  h1.title #{$.title}

  #app
    each v in [ 'x', 'y', 'z' ]
      .form-group
        label #{v}
        .btn-group(v-repeat="#{v}s")
          span.btn.btn-default(type="button",v-on="click: #{v} = value",class="{{ #{v} == value ? 'btn-info' : '' }}") {{ value }}
    button.btn.btn-default(v-on="click: play()") {{ isPlaying ? 'Stop' : 'Play' }}
    button.btn.btn-default(v-on="click: tweet()") Tweet

  div(style="padding:20px")
    h4 acknowledgement
    ul
      li
        a(href="http://d.hatena.ne.jp/aike/20111112").jp 竹内関数で音楽生成 - aikeの日記
