- var $ = []
- $.add = function(mod) { this.push(mod); }
- $.lang  = "en"
- $.title = "the.mohayonao.com"
- $.path  = ""
- $.jslist  = []
- $.csslist = []

block config

doctype html
html(lang="#{$.lang}",style="height:100%")
  head
    meta(charset="utf-8")
    title #{$.title}
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(property="og:title",content="#{$.title}")
    meta(property="og:url",content="http://the.mohayonao.com#{$.path}")
    link(rel="shortcut icon", href="/favicon.ico", id="favicon")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    each mod in $
      if /\.css$/.test(mod)
        link(rel="stylesheet",href=mod)
      else
        script(src=mod)
    script(src="/lib/layout.js")
    script(src="index.js")
    link(rel="stylesheet",href="index.css")
  body
    #content
      block content
