- var $ = {}
- $.lang  = "en"
- $.title = "the.mohayonao.com"
- $.desc  = ""
- $.path  = ""
- $.jslist  = []
- $.csslist = []

block config

- var rootpath = $.path.length === 0 ? "" : /^(\/[-\w]+)/.exec($.path)[0];
- var make_iconpath = function(app) { return /^https?:/.test(app.path) ? "/lib/icon/"+app.title.replace(/\s/g,"")+".png" : app.path+"appimage.png" };

doctype 5
html(lang="#{$.lang}")
  head
    meta(charset="utf-8")
    title #{$.title}
    meta(name="description",content="#{$.desc}")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(property="og:title",content="#{$.title}")
    meta(property="og:url",content="http://the.mohayonao.com#{$.path}")
    meta(property="og:image",content="http://the.mohayonao.com#{rootpath}/appimage.png")
    link(rel="shortcut icon", href="#{rootpath}/favicon.ico")
    link(rel="stylesheet",href="/lib/LigatureSymbols-2.11.css")
    if $.csslist.length
      for href in $.csslist
        link(rel="stylesheet",href=href)
    else
      link(rel="stylesheet",href="/lib/layout.css")
    script(src="/lib/jquery.js")
    script(src="/lib/layout.js")
    script(src="/lib/stats.min.js")
    each src in $.jslist
      script(src=src)
  body
    #sidebar
      div(id="appimage")
       img(src="#{rootpath}/appimage.png")
       img(src="/appimage.png").hidden
      h1
        a(href="/") the.mohayonao.com
      each items in index
        if items.name
          h2 #{items.name.toUpperCase()}
        ul(id="app-list")
          each app in items.list
            li(data-media=app.media)
              a(href=app.path,title=app.title)
                img(src="#{make_iconpath(app)}").hidden
                span #{app.title}
    #content
      block content

    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-21613416-9']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
