- var $ = {}
- $.title = "the.mohayonao.com"
- $.path  = ""
- $.jslist  = []
- $.csslist = []

block config

doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title #{$.title}
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(property="og:title",content="#{$.title}")
    meta(property="og:url",content="http://the.mohayonao.com#{$.path}/")
    meta(property="og:image",content="http://the.mohayonao.com#{$.path}/appimage.png")
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="stylesheet",href="/lib/LigatureSymbols-2.11.css")
    if $.csslist.length
      for href in $.csslist
        link(rel="stylesheet",href=href)
    else
      link(rel="stylesheet",href="/lib/layout.css")
    script(src="/lib/jquery.js")
    script(src="/lib/layout.js")
    each src in $.jslist
      script(src=src)
  body
    #sidebar
      div(id="appimage")
       img(src="#{$.path}/appimage.png")
      h1
        a(href="/") the.mohayonao.com
      each items in index
        if items.name
          h2 #{items.name.toUpperCase()}
        ul(id="app-list")          
          each app in items.list
            li(data-media=app.media)
              - var icon = /^https?:/.test(app.url) ? "/lib/icon/"+app.title.replace(/\s/g,"")+".png" : app.url+"appimage.png";
              a(href=app.url,title=app.title)
                img(src=icon).hidden
                span #{app.title}
    #content
      block content

    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-21613416-9']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
